.home {
    display: inline;
}

body {
    overflow: hidden;
}
 
a {
    text-decoration: none;
}

.welcomeH {
    font-family: 'DM Serif Display', serif;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    margin-bottom: auto;
}
.welcomeP {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.88em;
    margin-top: auto;
    margin-bottom: 1em;
    margin-left: 50em;
    width: 30em;
    float: right;
}

.instLogoWhite{
    width: 5.5em;
    margin-bottom: 1.5em;
}
/* 
.welcome {
    display: inline;
    color: #FCF5EB;
    margin-top: 5em;
    float: right;
    margin-right: 1em;
} */

.intro {
    display: inline;
    float: right;
    color: #FCF5EB;
    text-align: right;
    width: 50em;
    word-wrap: break-word;
    margin-top: 5.5em;
    margin-right: 3em;
}

.lm {
    text-decoration: none;
    text-align: center;
    color: #FCF5EB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    border: 2px #FCF5EB solid;
    border-radius: 2em;
    padding:  9px 18px ;
    float: right;
    display: inline;
}


.lcdc {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    width: 19em;
    text-align: left;
    letter-spacing: 0.2em;
    /* display: inline; */
    float: left;
    margin-top: 7em;
}

.containerLcdc {
    display: flex;
}

.containerLcdcLeft {
    display: block;
    width: 90em;
}

.containerLcdcRight {
    display: inline;
    margin-left: 27em;
    margin-top: 4em;
    float: right;
    width: 20em;
}

.intLogoRed {
    float: right;
    margin-right: 2em;
    width: 5em;
    
}

.navBar {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.3em;
    color: #FCF5EB;
    border-bottom: 1px solid #FCF5EB;
    padding-bottom: 0.4em;
    margin-left: 2em;
    margin-top: 1.5em;
}

.nav {
    text-decoration: none;
    color: #FCF5EB;
    font-weight: bold;
}


.arrow {
    width: 1.5em;
    margin-right: 1.2em;
    margin-left: 1.2em;
}

.culturalContainerLcdc {
    display: inline-block;
    width: 18em;
    margin-top: 2em;
    margin-left: 3em;
}

.literatureContainerLcdc {
    display: inline-block;
    float: right;
    width: 18em;
    margin-right:-9em;
    margin-top: 1em;
    /* margin-left: 4em; */
}

.culEvent {
    float: right;
    width: 20em;
    margin-bottom: -1.2em;
}

.litEvent {
    margin-top: 15em;
    position: relative;
    float: right;
    width: 20em;
    margin-bottom: -1.2em;
}

.km {
    text-decoration: none;
    text-align: center;
    color: #FCF5EB;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: lighter;
    font-size: 0.85em;
    letter-spacing: 0.2em;
    border: 1px #FCF5EB solid;
    border-radius: 2em;
    padding:  10px 30px ;
    float: right;
    display: inline;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.culDescription {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    color: #FCF5EB;
}

.litDescription {
    float: right;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    color: #FCF5EB;
    /* padding-bottom: 3em; */
}

.socialMedia {
    display: inline;
    float: right;
    margin-top: 22em;
    margin-right: 3em;
}

.icons {
    display: flex;
    float: right;
    position: relative;
    margin-bottom: 0.5em;
}

.literatureMail, .culturalMail {
    float: right;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #AD2727;
}

.containerCulturalEventLeft {
    /* width: 90em; */
    display: inline;
}
.CulturalEventDetail {
    display: flex;
    /* width: 20em; */
}

.CulturalEventBox {
    border: 1px solid #FCF5EB;
    border-radius: 20px;
    padding: 0.2em 1em;
    width: 20em;
    margin: 0.5em;
    margin-left: 2em;
}

.CulturalClubName {
    font-family: 'DM Serif Display', serif;
    color: #FCF5EB;
    font-size: 1.8em;
    letter-spacing: 0.04em;
}

.CulturalClub {
    font-family: 'PT Sans Caption', sans-serif;
    color: #FCF5EB;
    font-size: 0.8em;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: -1.4em;
    letter-spacing: 0.05em;
}

.CulturalEventLogo {
    margin-top: 1em;
    margin-bottom: -2em;
}

.CulturalEventDes {
    margin-left: 3em;
    width: 29em;
    color: #FCF5EB;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    line-height: 1.3em;
}

.containerCulturalEvent {
    /* width: 10em; */
    display: flex;
}

.containerCulturalRight {
    display: inline;
    /* margin-left: 0em; */
    margin-top: 4em;
    float: right;
    width: 20em;
}

.CulturalBrochures {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #FCF5EB;
    border-bottom: 2px solid #fcf5eb89;
    padding: 0em 1em 0em 0.2em;
    margin: auto;
    
}

.CulturalBrochures img{
    width: 1.3em;
    margin-right: 0.5em;
    margin-bottom: -0.6em;
}

.CulturalBrochures h3 {
    margin-bottom: 0.5em;
}
.CulturalToLit {
    font-family: 'Open Sans', sans-serif;
    color: #FCF5EB;
    font-size: 0.55em;
    letter-spacing: 0.2em;
    display: inline-flex;
    /* font-weight: 300; */
}
.CulturalToLit img {
    margin: -2em 1em;
}

.CulturalEndNote {
    /* float: right; */
    margin-left: 11em;
}

.CulturalLitNote {
    font-family: 'Open Sans', sans-serif;
    color: #FCF5EB;
    font-size: 1.2em;
    margin-top: -0.4em;
    letter-spacing: 0.04em;
}

.designCourtesy {
    font-family: 'Open Sans', sans-serif;
    color: #AD2727;
    font-size: 0.35em;
    text-align: center;
    letter-spacing: 1.5em;
    background-color: #FCF5EB;
    padding: 0.2em;
    width: 100%;
    margin-top: 2em;
    margin-left: -2em;
    margin-right: -2em;
    position: absolute;
    bottom: 0;
}